<%- include('./header.ejs') %>
<body class="">
  <div class="m-5 container">
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-center lh-sm text-center">
        <div>
          <h1 class="my-0"><%= subject %> : </h1>
        </div>
        <h1 class="text-primary"> &nbsp; <%= marks %> </h1>
      </li>
    </ul>
  </div>
</body>
<%- include('./footer.ejs') %>
